.btn_slide:hover{
    background-color: #000;
    color: #e0ffcd;
    border: 2px solid transparent;
}
.btn_slide2:hover{
    background-color: #ffcab0;
    color: #000;
    border: 0px solid transparent;
}