.btn_checker{
    background: transparent;
    border: none;
    cursor: pointer;
}
.linker{
    list-style: none;
    text-decoration: none;
    padding-left: 15px;
    color: black;
}
.linker:hover{
    color: #ffcab0;

}
.sellers{
    color: red;
}